﻿.circle-1 {
    border-radius:6px;
    border:2px solid #050505;
    width:6px;
    height:6px;
    background-color: yellow;
    cursor: pointer;
}
.circle-2 {
    border-radius:8px;
    border:2px solid #050505;
    width:8px;
    height:8px;
    background-color: orange;
    cursor: pointer;
}
.circle-3 {
    border-radius:8px;
    border:2px solid #050505;
    width:12px;
    height:12px;
    background-color: red;
    cursor: pointer;
}